p{
	text-indent:1em;
}

h1{
    font-family: monospace;
    font-weight: 100;
    text-align: center;
	letter-spacing: 8px;

 }

h2{
	font-family: monospace;
    font-weight: 100;
    text-indent: 5em;
	letter-spacing: 8px;
}

h3{
	color:black;
	background:#FFD39B;
	margin: 5px;
 }

 a{
    color: #8E2323;
    text-decoration: none; 

 }

a:hover{
  color: #855E42;
  text-decoration: underline;

}
.paragrafo{
	text-indent:4em;
}

.conteudo{
	border-radius: 10px;
	background-color: #000;
	border: #191919 solid 1px;
	opacity: 1.0;

   
}

th,.diferente{
	background:#F5DEB3;
}

td{
	background: #CDAA7D;
}
table{
	width: 500px;
}

a{
    color: #8E2323;
    text-decoration: none;  
 }
a:hover{
  color: #855E42;
  text-decoration: underline;
}
.formfield{
	text-align: left;
}
.formlabel{
	text-align: right;
}
.formheader{
	text-align: left;
}





