body  {
    border-width: 10px;
    
    margin-bottom: 200px;
    margin-left: 200px;
    margin-right: 200px;
    border-style: solid;
    border-color: #6060;
    border-top-width: 0px;
    
    }


h1 {
    
    color: white;
    background: black;
    margin: 5px;
    font-style: italic;
    text-align: center;
 }



 h2 {
  color: black;
  background: #FFFFCC;
  margin: 5px;

 }

 
  a{
    color: #8E2323;
    text-decoration: none;
    
 }

a:hover{
  color: #8E2323;
  text-decoration: underline;

}
