th,.diferente{
	background:#CD6839;
}

td{
	background: #CDAA7D;
}
table{
	width: 500px;
}

a{
    color: #8E2323;
    text-decoration: none;  
 }
a:hover{
  color: #855E42;
  text-decoration: underline;
}